@use "../utils" as *;

.catalog {
  background-color: var(--bgr-white-color);

  &__container {
    display: flex;
    flex-direction: column;
    gap: 32px;

    @include respond(md) {
      gap: 48px;
    }
  }

  &__header {
    display: flex;
    flex-direction: column;
    gap: 16px;
    text-align: center;
    text-align: center;
  }

  &__subheading {
    font-size: $font-subtitle;
    color: var(--tertiary-text-color);
  }

  &__grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;

    @include respond(md) {
      grid-template-columns: repeat(3, 1fr);
    }

    @include respond(lg) {
      grid-template-columns: repeat(4, 1fr);
    }
  }

  // catalog item

  & .catalog {
    &__image-wrapper {
      position: relative;
      overflow: hidden;
      aspect-ratio: 1 / 1;
      border-radius: $radius-lg;
      margin-bottom: 16px;
    }

    &__image {
      width: 100%;
      height: 100%;
      object-fit: cover;
      display: block;
    }

    &__text {
      font-size: $font-sm;
    }
  }
}
