@use "../utils" as *;

.hero {
  overflow: hidden;

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;

    @include respond(lg) {
      flex-direction: row;
    }
  }

  &__content {
    inline-size: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;

    @include respond(lg) {
      align-items: start;
    }
  }

  &__title {
    @include respond(lg) {
      line-height: 60px;
    }
  }

  &__title,
  &__description {
    text-align: center;

    @include respond(lg) {
      text-align: start;
    }

    span {
      color: var(--accent-color);
    }
  }

  &__description {
    font-size: $font-subtitle;
    font-weight: $fw-bold;
    color: var(--secondary-text-color);
  }

  &__buttons {
    display: flex;
    flex-direction: column;
    gap: 16px;

    @include respond(md) {
      flex-direction: row;
    }

    & .btn {
      inline-size: 242px;

      @include respond(lg) {
        inline-size: auto;
      }
    }
  }

  &__image-frame {
    position: relative;
    min-block-size: 196px;
    inline-size: 100%;
    max-inline-size: 584px;
    aspect-ratio: 16/9;
    overflow: hidden;
    border-radius: $radius-xl;
    box-shadow: $shadow-card;
    @include respond(md) {
      min-block-size: 334px;
    }
  }

  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }

  &__toggle {
    position: absolute;
    right: 10px;
    bottom: 10px;

    @include respond(lg) {
      right: 24px;
      bottom: 20px;
    }
  }
}
