@use "../utils" as *;

// .hero-animate {
//   animation: fadeInUp 0.8s ease-out forwards;
// }

// @keyframes fadeInUp {
//   from {
//     opacity: 0;
//     transform: translateY(20px);
//   }
//   to {
//     opacity: 1;
//     transform: translateY(0);
//   }
// }

.hero {
  overflow: hidden;
  padding-block-start: 104px;

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;

    @include respond(lg) {
      flex-direction: row;
    }
  }

  &__content {
    inline-size: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;

    @include respond(lg) {
      align-items: start;
    }
  }

  &__badge {
    display: inline-block;
    padding-inline: 16px;
    padding-block: 6px;
    font-size: $font-xs;
    font-weight: 700;
    letter-spacing: 1.5px;
    border-radius: 50px;

    &.badge--origin {
      color: var(--accent-text-color);
      background-color: var(--bgr-badge);
    }
  }

  &__title,
  &__description {
    text-align: center;

    @include respond(lg) {
      text-align: start;
    }

    span {
      color: var(--accent-color);
    }
  }

  &__description {
    color: var(--secondary-text-color);
  }

  &__buttons {
    display: flex;
    flex-direction: column;
    gap: 16px;

    @include respond(md) {
      flex-direction: row;
    }

    & .btn {
      inline-size: 242px;

      @include respond(lg) {
        inline-size: auto;
      }
    }
  }

  &__image-frame {
    position: relative;
    inline-size: 100%;
    max-inline-size: 584px;
    aspect-ratio: 16/9;
    overflow: hidden;
    border-radius: 24px;
  }

  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }

  &__toggle {
    position: absolute;
    right: 10px;
    bottom: 10px;

    @include respond(lg) {
      right: 24px;
      bottom: 20px;
    }
  }
}
