@use "../utils" as *;

.how-it-works {
  background-color: var(--primary-text-color);

  &__container {
    color: white;
    display: flex;
    flex-direction: column;
    gap: 32px;
    block-size: 1034px;

    @include respond(md) {
      gap: 64px;
      block-size: 882px;
    }
    @include respond(lg) {
      flex-direction: row;
      block-size: 440px;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 32px;

    @include respond(lg) {
      flex: 1;
    }
  }

  &__title {
    font-size: $font-lg;
    @include respond(md) {
      font-size: $font-xl;
    }
    @include respond(lg) {
      font-size: $font-2xl;
      letter-spacing: -1px;
    }
  }

  &__title,
  &__description {
    text-align: center;

    @include respond(lg) {
      text-align: start;
    }
  }

  &__description,
  &__component-text {
    color: var(--tertiary-text-color);
  }

  &__description {
    margin-block-end: 4px;
  }

  &__components {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  &__component {
    display: flex;
    flex-direction: row;
    gap: 16px;
  }

  &__icon {
    width: 56px;
    height: 56px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    flex-shrink: 0;

    &--light {
      font-size: 30px;
      background-color: rgba(245, 158, 11, 0.2);
    }

    &--scattering-layer {
      background-color: rgba(59, 130, 246, 0.2);
      font-size: 28px;
    }

    &--picture {
      background-color: rgba(34, 197, 94, 0.2);
      font-size: 28px;
    }
  }

  &__preview {
    overflow: hidden;
    border-radius: $radius-xl;
    border: 1px solid var(--border-color);
    box-shadow: $shadow-default;
    height: 100%;

    @include respond(lg) {
      flex: 1;
    }
  }

  &__gif {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
}
