@use "../utils" as *;

.how-it-works {
  background-color: var(--primary-text-color);

  &__container {
    color: white;
    display: flex;
    flex-direction: column;
    gap: 32px;

    @include respond(md) {
      gap: 48px;
    }
    @include respond(lg) {
      gap: 64px;
      flex-direction: row;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 32px;

    @include respond(md) {
      gap: 48px;
    }

    @include respond(lg) {
      flex: 1;
    }
  }

  &__header {
    display: flex;
    flex-direction: column;
    gap: 16px;
    justify-self: center;

    > .how-it-works__description {
      font-size: $font-subtitle;
    }

    > .how-it-works__title,
    > .how-it-works__description {
      text-align: center;

      @include respond(md) {
        text-align: start;
      }
    }
  }

  &__description,
  &__component-text {
    color: var(--tertiary-text-color);
  }

  &__components {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  &__component {
    display: flex;
    flex-direction: row;
    gap: 16px;
  }

  &__icon {
    width: 56px;
    height: 56px;
    border-radius: $radius-sm;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;

    &--light {
      font-size: 30px;
      background-color: rgba(245, 158, 11, 0.2);
    }

    &--scattering-layer {
      background-color: rgba(59, 130, 246, 0.2);
      font-size: 28px;
    }

    &--picture {
      background-color: rgba(34, 197, 94, 0.2);
      font-size: 28px;
    }
  }

  &__preview {
    overflow: hidden;
    border-radius: $radius-2xl;
    border: 1px solid var(--border-color);
    box-shadow: $shadow-default;
    height: 100%;
    block-size: 506px;
    box-shadow: $shadow-card;

    @include respond(lg) {
      flex: 1;
      block-size: 432px;
    }

    > video {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }
}
