@use "../utils" as *;

.mobile-menu {
  position: fixed;
  inset: 0;
  z-index: 200;

  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;

  @include respond(md) {
    display: none;
  }

  &.active {
    opacity: 1;
    pointer-events: auto;
  }

  &__overlay {
    position: absolute;
    inset: 0;
    background: rgb(0 0 0 / 0.4);
  }

  &__content {
    position: absolute;
    top: var(--header-height);
    left: 0;
    right: 0;
    bottom: 0;

    background: var(--bgr-color);
    backdrop-filter: blur(12px);

    padding-top: 40px;

    transform: translateY(-100%);
    transition: transform 0.3s ease;
  }

  &.active &__content {
    transform: translateY(0);
  }

  .nav__list {
    flex-direction: column;
    align-items: center;
    gap: 84px;
  }

  .nav__link {
    font-size: $font-h3;
  }
}
