@use "../utils" as *;

.catalog {
  background-color: var(--bgr-white-color);

  &__container {
    display: flex;
    flex-direction: column;
    gap: 32px;

    @include respond(md) {
      gap: 48px;
    }
  }

  &__header {
    display: flex;
    flex-direction: column;
    gap: 16px;
    text-align: center;
    text-align: center;
  }

  &__subheading {
    font-size: $font-subtitle;
  }

  &__grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;

    @include respond(lg) {
      grid-template-columns: repeat(4, 1fr);
    }
  }

  &__image-wrapper {
    position: relative;
    overflow: hidden;
    aspect-ratio: 1 / 1;
    border-radius: $radius-lg;
    margin-bottom: 16px;
  }

  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
  }

  &__text {
    font-size: $font-sm;
  }

  &__link {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    color: var(--accent-text-color);
    font-weight: $fw-bold;
  }

  &__icon {
    inline-size: 24px;
    block-size: 24px;
  }
}
