.container {
  width: 100%;
  padding-inline: 16px;

  @include respond(md) {
    max-width: 720px;
    margin-inline: auto;
    padding-inline: 24px;
  }

  @include respond(lg) {
    max-width: 1200px;
    padding-inline: 120px;
  }
}
