@use "../utils" as *;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  height: 100vh;
}

body {
  font-family: var(--font-main);
  color: var(--primary-text-color);
  background-color: var(--bgr-color);
  font-size: $font-md;
  line-height: calc(16 / 12);
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  height: 100vh;

  &.no-scroll {
    overflow: hidden;
  }
}

main {
  flex: 1;
  padding-top: var(--header-height);
}

h1 {
  font-family: var(--font-headers);
  font-size: $font-xl;
  line-height: 1;

  @include respond(md) {
    font-size: $font-3xl;
  }
  @include respond(lg) {
    font-size: $font-4xl;
  }
}

h2 {
  font-family: var(--font-headers);
  font-size: $font-lg;

  @include respond(md) {
    font-size: $font-xl;
  }
}

h3 {
  font-size: $font-h3;
}

h4 {
  font-size: $font-md;
}

p {
  color: var(--secondary-text-color);
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  color: currentColor;
  text-decoration: none;
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

section {
  scroll-margin-top: var(--header-height);
  padding-block: 40px;

  @include respond(md) {
    padding-block: 60px;
  }

  @include respond(lg) {
    padding-block: 80px;
  }
}

.container {
  width: 100%;
  max-width: 1440px;
  margin-inline: auto;
  padding-inline: 16px;

  @include respond(md) {
    padding-inline: 24px;
  }

  @include respond(lg) {
    padding-inline: 120px;
  }
}

.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding-block: 16px;
  padding-inline: 32px;
  border-radius: $radius-md;
  font-family: var(--font-main);
  font-size: $font-md;
  font-weight: $fw-bold;
  line-height: 24px;

  cursor: pointer;
  border: none;
  text-decoration: none;
  transition:
    background-color 0.25s ease,
    color 0.25s ease,
    transform 0.25s ease,
    box-shadow 0.25s ease;

  &--primary {
    background-color: var(--accent-color);
    color: white;

    &:hover,
    &:focus-visible {
      box-shadow: $shadow-yellow;
      background-color: var(--accent-text-color);
    }

    &:active {
      transform: scale(0.95);
    }
  }

  &--secondary {
    background-color: white;
    border: 1px solid var(--border-color);
    color: var(--primary-text-color);

    &:hover,
    &:focus-visible {
      background-color: var(--bgr-color);
    }

    &:active {
      transform: scale(0.95);
    }
  }

  &--tertiary {
    background-color: var(--primary-text-color);
    color: white;
    box-shadow: $shadow-default;
    border-radius: $radius-pill;

    &:hover,
    &:focus-visible {
      background-color: var(--bgr-dark-color);
    }

    &:active {
      transform: scale(0.95);
    }
  }

  &--glass {
    color: white;
    padding-inline: 16px;
    border-radius: $radius-pill;
    background-color: rgba(255, 255, 255, 0.2);
    border: solid 1px rgba(255, 255, 255, 0.3);
    box-shadow: 0px 10px 15px -3px rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);

    &:hover,
    &:focus-visible {
      background-color: rgba(255, 255, 255, 0.4);
    }

    &:active {
      transform: scale(0.95);
    }
  }
}

.badge {
  display: inline-block;
  padding-inline: 16px;
  padding-block: 6px;
  font-size: $font-xs;
  font-weight: 700;
  letter-spacing: 1.5px;
  border-radius: $radius-pill;
  color: var(--accent-text-color);
  background-color: var(--bgr-badge);
}

// Custom scrollbar
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background: #cbd5e1;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: var(--light-text-color);
}
