<section class="product">
  <div class="product__container container">
    <!-- Image -->
    <div class="product__image-wrapper">
      <img
        class="product__image"
        src="./images/backlit-frame-lightbox-eren-end-mikasa.webp"
        alt="LED світильник Attack on Titan"
      />

      <button class="btn btn--glass product__toggle js-light-toggle">
        💡 Вимкнути
      </button>
    </div>

    <!-- Content -->
    <div class="product__content">
      <div class="product__text-wrapper">
        <h3 class="product__title">
          LED світильник з легендарними персонажами аніме
          <span class="product__accent">Attack on Titan</span>
        </h3>

        <p class="product__description">
          Cтворено для тих, хто вірить у силу дружби, підтримки та внутрішній вогонь, що веде вперед навіть крізь темряву — як у історії Ерена та Мікаси.
        </p>

        <p class="product__benefit">
          🎁 Ідеальний подарунок для шанувальників аніме, колекціонерів та поціновувачів стильного декору.
        </p>
      </div>

      <!-- Sizes -->
      <div class="product__sizes">
        <p class="product__sizes-title">Розмір</p>

        <div class="product__sizes-list">
          <button class="product__size btn btn--secondary">A5</button>
          <button
            class="product__size product__size--active btn btn--secondary"
          >
            A4
          </button>
          <button class="product__size btn btn--secondary">A3</button>
        </div>
      </div>

      <!-- Checkbox -->
      <label class="product__option">
        <input type="checkbox" class="product__checkbox" />
        Індивідуальний макет (+350 грн)
      </label>

      <!-- Price -->
      <div class="product__price-btn-wrapper">
        <div class="product__price">
          <span class="product__price-value">1450 грн</span>
          <span class="product__price-note">обраний розмір A4</span>
          
        </div>

        <!-- Btn -->
        <button class="product__cta btn btn--primary">
          Замовити світильник
        </button>
    </div>
  </div>
</section>
