@use "./utils" as *;
@use "./main/main";
@use "./components/header";
@use "./components/hero";
@use "./components/popular-designs";
@use "./components/how-it-works";
@use "./components/why-we";
@use "./components/steps-to-order";
@use "./components/feedback";

@use "./components/footer";
