<section id="how-it-works" class="how-it-works">
  <div class="how-it-works__container container">
    <!-- explanation -->
    <div class="how-it-works__content">
      <h2 class="how-it-works__title">Як працює backlit frame</h2>

      <p class="how-it-works__description">
        Світильник у стильній дерев'яній рамці, який можна використовувати як
        нічник, декор або акцентне світло.
      </p>

      <ul class="how-it-works__components">
        <li class="how-it-works__component">
          <div class="how-it-works__icon how-it-works__icon--light">💥</div>
          <div class="how-it-works__component-content">
            <h4 class="how-it-works__component-title">
              LED підсвітка зсередини
            </h4>
            <p class="how-it-works__component-text">
              Один клік — і світло працює на настрій.
            </p>
          </div>
        </li>

        <li class="how-it-works__component">
          <div class="how-it-works__icon how-it-works__icon--scattering-layer">
            💫
          </div>
          <div class="how-it-works__component-content">
            <h4 class="how-it-works__component-title">
              Світлорозсіювальний шар
            </h4>
            <p class="how-it-works__component-text">
              Спеціальна панель забирає різкість LED і перетворює її на м’яке,
              рівне сяйво без точок.
            </p>
          </div>
        </li>

        <li class="how-it-works__component">
          <div class="how-it-works__icon how-it-works__icon--picture">🌆</div>
          <div class="how-it-works__component-content">
            <h4 class="how-it-works__component-title">
              Художнє скло / зображення
            </h4>
            <p class="how-it-works__component-text">
              Зображення підсвічується зсередини, створюючи ефект глибини та
              “живої” картинки.
            </p>
          </div>
        </li>
      </ul>
    </div>

    <!-- video -->
    <div class="how-it-works__preview">
      <img
        src="/src/images/gif_sololeveling.gif"
        alt="Відео"
        class="how-it-works__gif"
      />
    </div>
  </div>
</section>
