<section id="catalog" class="catalog">
  <div class="catalog__container container">
    <div class="catalog__header">
      <h2 class="catalog__heading">Дизайни, які обирають найчастіше</h2>
      <p class="catalog__subheading">
        Знайдіть свій стиль або створіть щось особливе
      </p>
    </div>

    <div class="catalog__grid">
      <!-- Аніме -->
      <article class="catalog__item">
        <div class="catalog__image-wrapper">
          <img
            src="./images/backlit-frame-lightbox-itachi-uchiha.webp"
            alt="Аніме"
            class="catalog__image"
            loading="lazy"
          />
          <div class="catalog__overlay"></div>
        </div>
        <h4 class="catalog__title">Аніме</h4>
        <p class="catalog__text">Легендарні герої у вашому просторі.</p>
      </article>

      <!-- Романтика / персональні фото -->
      <article class="catalog__item">
        <div class="catalog__image-wrapper">
          <img
            src="./images/backlit-frame-lightbox-romantic-photo.png"
            alt="Романтика / персональні фото"
            class="catalog__image"
            loading="lazy"
          />
          <div class="catalog__overlay"></div>
        </div>
        <h4 class="catalog__title">Романтика / персональні фото</h4>
        <p class="catalog__text">Ваші почуття у формі світлової картини.</p>
      </article>

      <!-- Космос -->
      <article class="catalog__item">
        <div class="catalog__image-wrapper">
          <img
            src="./images/backlit-frame-lightbox-space.png"
            alt="Космос"
            class="catalog__image"
            loading="lazy"
          />
          <div class="catalog__overlay"></div>
        </div>
        <h4 class="catalog__title">Космос</h4>
        <p class="catalog__text">Атмосфера спокою та мрій.</p>
      </article>

      <!-- Тварини  -->
      <article class="catalog__item">
        <div class="catalog__image-wrapper">
          <img
            src="./images/backlit-frame-lightbox-dog.png"
            alt="Собака"
            class="catalog__image"
            loading="lazy"
          />
        </div>
        <h4 class="catalog__title">Тварини</h4>
        <p class="catalog__text">Портрет Вашого улюбленця в інтер’єрі.</p>
      </article>
    </div>

    <div class="catalog__go-to-catalog">
      <a href="catalog.html" class="catalog__link">
        Переглянути повний каталог
        <svg
          class="catalog__icon"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M17 8l4 4m0 0l-4 4m4-4H3"
          />
        </svg>
      </a>
    </div>
  </div>
</section>
