<section id="catalog-controls" class="catalog-controls">
  <div class="catalog-controls__header-wrapper container">
    <div class="catalog-controls__header">
      <h1 class="catalog-controls__title">Каталог дизайнів</h1>
      <p class="catalog-controls__subtitle">Наші роботи наживо</p>
    </div>

    <form class="catalog-controls__search">
      <input type="text" class="catalog__search-input" placeholder="Пошук" />
      <button class="btn btn--secondary catalog__search-btn">🔍</button>
    </form>
  </div>

  <div class="catalog-controls__filters container">
    <button class="catalog__filter-btn">Стилі</button>
    <button class="catalog__filter-btn">Романтика</button>
    <button class="catalog__filter-btn">Серіали</button>
    <button class="catalog__filter-btn">Аніме</button>
    <button class="catalog__filter-btn">Абстракція</button>
    <button class="catalog__filter-btn">Природа</button>
    <button class="catalog__filter-btn">Космос</button>
    <button class="catalog__filter-btn">Автомобілі</button>
    <button class="catalog__filter-btn">Тварини</button>
  </div>
</section>
