<section>
  <nav class="catalog__pagination container" aria-label="Pagination">
    <button class="catalog__page-btn btn btn--secondary">&lt;</button>
    <button
      class="catalog__page-btn catalog__page-btn--active btn btn--secondary"
    >
      1
    </button>
    <button class="catalog__page-btn btn btn--secondary">2</button>
    <button class="catalog__page-btn btn btn--secondary">3</button>
    <span class="catalog__dots">...</span>
    <button class="catalog__page-btn btn btn--secondary">12</button>
    <button class="catalog__page-btn btn btn--secondary">&gt;</button>
    <button class="catalog__page-btn btn btn--secondary">&gt;&gt;</button>
  </nav>
</section>
