<section id="pagination" class="pagination">
  <nav class="pagination__container container" aria-label="Pagination">
    <button class="pagination__page-btn btn btn--secondary">&lt;</button>
    <button
      class="pagination__page-btn pagination__page-btn--active btn btn--secondary"
    >
      1
    </button>
    <button class="pagination__page-btn btn btn--secondary">2</button>
    <button class="pagination__page-btn btn btn--secondary">3</button>
    <span class="pagination__dots">...</span>
    <button class="pagination__page-btn btn btn--secondary">12</button>
    <button class="pagination__page-btn btn btn--secondary">&gt;</button>
    <button class="pagination__page-btn btn btn--secondary">&gt;&gt;</button>
  </nav>
</section>
