<section id="pagination" class="pagination">
  <div class="pagination__container container">
    <nav class="pagination__wrapper" aria-label="Pagination">
      <button class="pagination__page-btn btn btn--secondary">⮜</button>
      <button
        class="pagination__page-btn pagination__page-btn--active btn btn--primary"
      >
        1
      </button>
      <button class="pagination__page-btn btn btn--secondary">2</button>
      <button class="pagination__page-btn btn btn--secondary">3</button>
      <span class="pagination__dots">. . .</span>
      <button class="pagination__page-btn btn btn--secondary">12</button>
      <button class="pagination__page-btn btn btn--secondary">⮞</button>
      <button class="pagination__page-btn btn btn--secondary">⮞⮞</button>
    </nav>
  </div>
</section>
