:root {
  // background
  --bgr-color: #f8fafc;
  --bgr-white-color: #ffffff;
  --bgr-dark-color: #1e293b;
  --bgr-accent-color: #fffbeb;
  --bgr-badge: #fef3c7;
  // accent
  --accent-color: #f59e0b;
  // text
  --accent-text-color: #d97706;
  --primary-text-color: #0f172a;
  --secondary-text-color: #475569;
  --tertiary-text-color: #64748b;
  // --light-text-color: #020508;
  // borders
  --border-color: #e5e7eb;
  // shadow
  --shadow-grey-color: #e2e8f0;
  --shadow-color: #fde68a;
  // fonts
  --font-main: "Poppins", sans-serif;
  --font-headers: "Cormorant Unicase", serif;
}

// font sizes
$font-xs: 12px; // nav links & badge
$font-sm: 14px; // btns & card text & form labels & footer text
$font-md: 16px; // base & h4
// $font-lg: 18px; // sub headers
// $font-20: 20px;
$font-h3: 24px; // h3
$font-lg: 30px; // h2 mobile
$font-xl: 36px; // h1 mobile & h2 >mobile
$font-2xl: 48px; // h2 how it works section
$font-3xl: 86px; // h1 >mobile

// font weights
$fw-regular: 400;
$fw-medium: 500;
$fw-semibold: 600;
$fw-bold: 700;

// radius
// $radius-xs: 4px;
// $radius-sm: 8px;
$radius-md: 12px; // reviews cards
$radius-lg: 16px; // cards images
$radius-xl: 32px; // gif video
$radius-round: 50%;

// styles
$shadow-default: 0 1px 2px 0 rgb(0 0 0 / 0.05);
$shadow-yellow: 0 10px 15px -3px #fde68a;
