:root {
  // background
  --bgr-color: #f8fafc;
  --bgr-white-color: #ffffff;
  --bgr-dark-color: #1e293b;
  --bgr-accent-color: #fffbeb;
  --bgr-badge: #fef3c7;
  // accent
  --accent-color: #f59e0b;
  // text
  --accent-text-color: #d97706;
  --primary-text-color: #0f172a;
  --secondary-text-color: #475569;
  --tertiary-text-color: #64748b;
  --light-text-color: #94a3b8;
  // borders
  --border-color: #e5e7eb;
  // shadow
  --shadow-grey-color: #e2e8f0;
  --shadow-color: #fde68a;
  // fonts
  --font-main: "Poppins", sans-serif;
  --font-headers: "Cormorant Unicase", serif;
}

// radius
$radius-xs: 4px;
$radius-sm: 8px;
$radius-md: 12px;
$radius-lg: 16px;
$radius-xl: 24px;
$radius-round: 50%;

// font sizes
$font-xs: 12px;
$font-sm: 14px;
$font-md: 16px; // base
$font-lg: 18px;
$font-xl: 24px;
$font-2xl: 32px;
$font-3xl: 36px;

// font weights
$fw-regular: 400;
$fw-medium: 500;
$fw-semibold: 600;
$fw-bold: 700;

// styles
$shadow-default: 0 1px 2px 0 rgb(0 0 0 / 0.05);
$shadow-yellow: 0 10px 15px -3px #fde68a;
