<footer class="footer">
  <div class="footer__container container">
    <div class="footer__logo-and-motto">
      <img
        class="logo"
        src="./images/logo-with-title--white.png"
        alt="icon"
        width="197"
        height="32"
      />
      <p class="footer__text">
        Where art meets light ✨<br />
        Виготовлено з любов'ю в Україні.
      </p>
    </div>
    <div class="footer__social-networks">
      <a href="#" class="footer__link">Instagram</a>
      <a href="#" class="footer__link">Telegram</a>
    </div>
    <div class="footer__copyright">
      © <span id="year"></span> Backlit Frame UA. Всі права захищені.
    </div>
  </div>
</footer>
